
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	padding-top: 9px;
	font-weight: bold;
}
body {
	
	padding-top: 80px;
	font-weight: bold;
}
.nav_item {
	
	margin-left: 25px;
	float: left;
	margin-top:20px;	 
	font-size: 30px;
	color: red;

}
.center {
	
	text-align: center;
}
.left {
	text-align: left;
	letter-spacing: .5px;
}
.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;


}
